{
  "compile_commands_dir": "${workspaceRoot}",
  "compile_flags": [
    "/usr/local/HDF_Group/HDF5/1.14.3/include",
    "/usr/local/HDF_Group/HDF5/1.14.3/lib",
    "-lhdf5",
    "/usr/local/HDF_Group/HDF5/1.14.3/bin/h5cc"
  ],
  "fallback-style": "Google"
}

